<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.culture.model.mapper.EventMapper">

	<resultMap type="Event" id="eventResultMap">

	    <result property="contentid" column="CONTENTID"/>
	    <result property="contenttypeid" column="CONTENTTYPEID"/>
	    <result property="addr1" column="ADDR1"/>
	    <result property="addr2" column="ADDR2"/>
	    <result property="areacode" column="AREACODE"/>
	    <result property="booktour" column="BOOKTOUR"/>
	    <result property="cat1" column="CAT1"/>
	    <result property="cat2" column="CAT2"/>
	    <result property="cat3" column="CAT3"/>
	    <result property="createdtime" column="CREATEDTIME"/>
	    <result property="firstimage" column="FIRSTIMAGE"/>
	    <result property="firstimage2" column="FIRSTIMAGE2"/>
	    <result property="cpyrhtDivCd" column="CPYRHTDIVCD"/>
	    <result property="mapx" column="MAPX"/>
	    <result property="mapy" column="MAPY"/>
	    <result property="mlevel" column="MLEVEL"/>
	    <result property="modifiedtime" column="MODIFIEDTIME"/>
	    <result property="sigungucode" column="SIGUNGUCODE"/>
	    <result property="tel" column="TEL"/>
	    <result property="title" column="TITLE"/>
	    <result property="zipcode" column="ZIPCODE"/>
	    
	    <result property="sponsor1" column="SPONSOR1"/>
	    <result property="sponsor1tel" column="SPONSOR1TEL"/>
	    <result property="sponsor2" column="SPONSOR2"/>
	    <result property="sponsor2tel" column="SPONSOR2TEL"/>
	    <result property="eventenddate" column="EVENTENDDATE"/>
	    <result property="playtime" column="PLAYTIME"/>
	    <result property="eventplace" column="EVENTPLACE"/>
	    <result property="eventhomepage" column="EVENTHOMEPAGE"/>
	    <result property="agelimit" column="AGELIMIT"/>
	    <result property="bookingplace" column="BOOKINGPLACE"/>
	    <result property="placeinfo" column="PLACEINFO"/>
	    <result property="subevent" column="SUBEVENT"/>
	    <result property="program" column="PROGRAM"/>
	    <result property="eventstartdate" column="EVENTSTARTDATE"/>
	    <result property="usetimefestival" column="USETIMEFESTIVAL"/>
	    <result property="discountinfofestival" column="DISCOUNTINFOFESTIVAL"/>
	    <result property="spendtimefestival" column="SPENDTIMEFESTIVAL"/>
	    <result property="festivalgrade" column="FESTIVALGRADE"/>
	    
	    <result property="image0" column="IMAGE0"/>
	    <result property="image1" column="IMAGE1"/>
	    <result property="image2" column="IMAGE2"/>
	    <result property="image3" column="IMAGE3"/>
	    <result property="image4" column="IMAGE4"/>
	    <result property="image5" column="IMAGE5"/>
	    <result property="image6" column="IMAGE6"/>
	    <result property="image7" column="IMAGE7"/>
	    <result property="image8" column="IMAGE8"/>
	    <result property="image9" column="IMAGE9"/>
	    <result property="image10" column="IMAGE10"/>
		<result property="image11" column="IMAGE11"/>
		<result property="image12" column="IMAGE12"/>
		<result property="image13" column="IMAGE13"/>
		<result property="image14" column="IMAGE14"/>
		<result property="image15" column="IMAGE15"/>
		<result property="image16" column="IMAGE16"/>
		<result property="image17" column="IMAGE17"/>
		<result property="image18" column="IMAGE18"/>
		<result property="image19" column="IMAGE19"/>
		<result property="image20" column="IMAGE20"/>
    	<result property="imgCount" column="IMGCOUNT"/>
    	<result property="overview" column="OVERVIEW"/>
    	<result property="homepage" column="HOMEPAGE"/>
	</resultMap>


	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM EVENT;
	</select>
	
	<select id="selectTable" resultType="Event">
		SELECT * FROM EVENT;
	</select>

	<insert id="createTableEvent">

		CREATE TABLE IF NOT EXISTS EVENT (
		    CONTENTID INT PRIMARY KEY,
		    CONTENTTYPEID INT,
		    ADDR1 VARCHAR(255),
		    ADDR2 VARCHAR(255),
		    AREACODE INT,
		    BOOKTOUR INT,
		    CAT1 VARCHAR(255),
		    CAT2 VARCHAR(255),
		    CAT3 VARCHAR(255),
		    CREATEDTIME VARCHAR(255),
		    FIRSTIMAGE VARCHAR(255),
		    FIRSTIMAGE2 VARCHAR(255),
		    CPYRHTDIVCD VARCHAR(255),
		    MAPX VARCHAR(255),
		    MAPY VARCHAR(255),
		    MLEVEL INT,
		    MODIFIEDTIME VARCHAR(255),
		    SIGUNGUCODE INT,
		    TEL VARCHAR(255),
		    TITLE VARCHAR(255),
		    ZIPCODE VARCHAR(255),
		    
		    SPONSOR1 VARCHAR(255),
		    SPONSOR1TEL VARCHAR(255),
		    SPONSOR2 VARCHAR(255),
		    SPONSOR2TEL VARCHAR(255),
		    EVENTENDDATE DATE,
		    PLAYTIME VARCHAR(255),
		    EVENTPLACE VARCHAR(255),
		    EVENTHOMEPAGE VARCHAR(255),
		    AGELIMIT VARCHAR(255),
		    BOOKINGPLACE VARCHAR(255),
		    PLACEINFO VARCHAR(255),
		    SUBEVENT VARCHAR(255),
		    PROGRAM VARCHAR(255),
		    EVENTSTARTDATE DATE,
		    USETIMEFESTIVAL TEXT,
		    DISCOUNTINFOFESTIVAL VARCHAR(255),
		    SPENDTIMEFESTIVAL VARCHAR(255),
		    FESTIVALGRADE VARCHAR(255),
		    
		    IMAGE0 VARCHAR(255),
		    IMAGE1 VARCHAR(255),
		    IMAGE2 VARCHAR(255),
		    IMAGE3 VARCHAR(255),
		    IMAGE4 VARCHAR(255),
		    IMAGE5 VARCHAR(255),
		    IMAGE6 VARCHAR(255),
		    IMAGE7 VARCHAR(255),
		    IMAGE8 VARCHAR(255),
		    IMAGE9 VARCHAR(255),
		    IMAGE10 VARCHAR(255),
		    IMAGE11 VARCHAR(255),
			IMAGE12 VARCHAR(255),
			IMAGE13 VARCHAR(255),
			IMAGE14 VARCHAR(255),
			IMAGE15 VARCHAR(255),
			IMAGE16 VARCHAR(255),
			IMAGE17 VARCHAR(255),
			IMAGE18 VARCHAR(255),
			IMAGE19 VARCHAR(255),
			IMAGE20 VARCHAR(255),
			IMGCOUNT INT,
		    OVERVIEW TEXT,
		    HOMEPAGE TEXT
		);


	</insert>
		
	<insert id="insertEvent" parameterType="Event">
	    INSERT IGNORE INTO EVENT (
	        ADDR1, ADDR2, AREACODE, BOOKTOUR, CAT1, CAT2,
	        CAT3, CONTENTID, CONTENTTYPEID, CREATEDTIME, FIRSTIMAGE,
	        FIRSTIMAGE2, CPYRHTDIVCD, MAPX, MAPY, MLEVEL, MODIFIEDTIME,
	        SIGUNGUCODE, TEL, TITLE, ZIPCODE,
	        SPONSOR1, SPONSOR1TEL, SPONSOR2, SPONSOR2TEL,
	        EVENTENDDATE, PLAYTIME, EVENTPLACE, EVENTHOMEPAGE,
	        AGELIMIT, BOOKINGPLACE, PLACEINFO, SUBEVENT,
	        PROGRAM, EVENTSTARTDATE, USETIMEFESTIVAL,
	        DISCOUNTINFOFESTIVAL, SPENDTIMEFESTIVAL, FESTIVALGRADE,
	        IMAGE0, IMAGE1, IMAGE2, IMAGE3, IMAGE4,
	        IMAGE5, IMAGE6, IMAGE7, IMAGE8, IMAGE9, IMAGE10,
	        IMAGE11, IMAGE12, IMAGE13, IMAGE14, IMAGE15,
	        IMAGE16, IMAGE17, IMAGE18, IMAGE19, IMAGE20,
	        IMGCOUNT, OVERVIEW, HOMEPAGE
	    ) VALUES (
            #{addr1}, #{addr2}, #{areacode}, #{booktour}, #{cat1}, #{cat2},
	        #{cat3}, #{contentid}, #{contenttypeid}, #{createdtime},
	        #{firstimage}, #{firstimage2}, #{cpyrhtDivCd}, #{mapx}, #{mapy}, #{mlevel},
	        #{modifiedtime}, #{sigungucode}, #{tel},
	        #{title}, #{zipcode},
	        #{sponsor1}, #{sponsor1tel}, #{sponsor2}, #{sponsor2tel},
	        #{eventenddate}, #{playtime}, #{eventplace}, #{eventhomepage},
	        #{agelimit}, #{bookingplace}, #{placeinfo}, #{subevent},
	        #{program}, #{eventstartdate}, #{usetimefestival},
	        #{discountinfofestival}, #{spendtimefestival}, #{festivalgrade},
	        #{image0}, #{image1}, #{image2}, #{image3}, #{image4},
	        #{image5}, #{image6}, #{image7}, #{image8}, #{image9}, #{image10},
	        #{image11}, #{image12}, #{image13}, #{image14}, #{image15},
	        #{image16}, #{image17}, #{image18}, #{image19}, #{image20},
	        #{imgCount}, #{overview}, #{homepage} 
	     );

	</insert>

	<!-- Updated to search in both title and address if searchType is not specified -->
	<select id="selectEventList" parameterType="EventParam" resultMap="eventResultMap">
	    SELECT contentid, TITLE, ADDR1, firstimage, firstimage2, IMAGE0, IMAGE1, IMAGE2, IMAGE3, IMAGE4, IMAGE5
	    FROM EVENT
	    <where>
	        <choose>
	            <when test="searchType == 'title'">
	                TITLE LIKE '%${searchValue}%'
	            </when>
	            <when test="searchType == 'address'">
	                ADDR1 LIKE '%${searchValue}%'
	            </when>
	            <otherwise>
	                <!-- Handles case where no specific searchType is selected but searchValue is provided -->
	                (TITLE LIKE '%${searchValue}%' OR ADDR1 LIKE '%${searchValue}%')
	            </otherwise>
	        </choose>
	        
				<!-- Handling multiple checkBoxes conditions -->
	        <if test="checkBoxes != null and !checkBoxes.isEmpty()">
	            AND (
	            <foreach collection="checkBoxes" item="checkBox" separator=" OR ">
	                ADDR1 LIKE
	                <choose>
	                    <when test="checkBox == 'seoul'"> '%서울%' </when>
	                    <when test="checkBox == 'gyeonggi'"> '%경기%' </when>
	                    <when test="checkBox == 'chungnam'"> '%충청남도%' </when>
	                    <when test="checkBox == 'chugbuk'"> '%충청북도%' </when>
	                    <when test="checkBox == 'kangwon'"> '%강원%' </when>
	                    <when test="checkBox == 'Jeonbuk'"> '%전라북도%' </when>
	                    <when test="checkBox == 'Jeonnam'"> '%전라남도%' </when>
	                    <when test="checkBox == 'jeju'"> '%제주%' </when>
	                </choose>
	            </foreach>
	            )
	        </if>
	    </where>
	    ORDER BY contentid LIMIT ${limit} OFFSET ${offset};
	</select>
	
	<select id="selectEventCount" parameterType="EventParam" resultType="int">
		SELECT COUNT(*)
		FROM EVENT 
		<where>
		        <choose>
		            <when test="searchType == 'title'">
		                TITLE LIKE '%${searchValue}%'
		            </when>
		            <when test="searchType == 'address'">
		                ADDR1 LIKE '%${searchValue}%'
		            </when>
		            <otherwise>
		                <!-- Handles case where no specific searchType is selected but searchValue is provided -->
		                (TITLE LIKE '%${searchValue}%' OR ADDR1 LIKE '%${searchValue}%')
		            </otherwise>
		        </choose>
		        
		        <!-- Handling multiple checkBoxes conditions -->
		        <if test="checkBoxes != null and !checkBoxes.isEmpty()">
		            AND (
		            <foreach collection="checkBoxes" item="checkBox" separator=" OR ">
		                ADDR1 LIKE
		                <choose>
		                    <when test="checkBox == 'seoul'"> '%서울%' </when>
		                    <when test="checkBox == 'gyeonggi'"> '%경기%' </when>
		                    <when test="checkBox == 'chungnam'"> '%충청남도%' </when>
		                    <when test="checkBox == 'chugbuk'"> '%충청북도%' </when>
		                    <when test="checkBox == 'kangwon'"> '%강원%' </when>
		                    <when test="checkBox == 'Jeonbuk'"> '%전라북도%' </when>
		                    <when test="checkBox == 'Jeonnam'"> '%전라남도%' </when>
		                    <when test="checkBox == 'jeju'"> '%제주%' </when>
		                </choose>
		            </foreach>
		            )
		        </if>
		    </where>
	</select>
	
	<select id="selectEventByContentId" parameterType="int" resultMap="eventResultMap">
		SELECT  
			contentid, TITLE, ADDR1, firstimage, firstimage2, MAPX, MAPY, tel, INFOCENTERCULTURE, overview, IMAGE0, IMAGE1, IMAGE2, IMAGE3, IMAGE4, IMAGE5
			
			FROM EVENT where contentid = #{contentid}
	</select>
	
	<!-- 새로 개최된 최신순 10개만 가져오기 -->
	<select id="selectEventListWithTime" resultMap="eventResultMap">
	    SELECT
	        contentid,
	        TITLE,
	        ADDR1,
	        firstimage,
	        firstimage2,
	        MODIFIEDTIME,
	        CREATEDTIME,
	        EVENTSTARTDATE,
	        EVENTENDDATE
	    FROM
	        EVENT
	    ORDER BY
	        COALESCE(MODIFIEDTIME, CREATEDTIME) DESC
	    LIMIT 10; <!-- 원하는 갯수로 변경 -->
	</select>
	
	<!-- 가장 가까운 1개 이벤트 -->
	<select id="getEventDetailsByAreacode" parameterType="string" resultMap="eventResultMap">
    SELECT * FROM EVENT WHERE areacode = #{areacode}
    ORDER BY EVENTSTARTDATE DESC
    LIMIT 1;
	</select>
	
	
	

</mapper>